body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    margin: 90px 0;
    text-align: center;
}

/* ---------------- TÍTULO PRINCIPAL ---------------- */

.bloco {
    background-color: #ffffff;
    display: flex;
    margin: 60px 100px;

    justify-content: space-between;
}

.bloco .texto {
    text-align: justify;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco .imagem {
    width: 40%;
    height: 290px;

    border-radius: 7rem;
}

.bloco-2 {
    background-color: #0094FF;
    display: flex;
    padding: 60px 100px;
    border-bottom-left-radius: 7rem;
    border-top-left-radius: 7rem;
    justify-content: space-between;
}

.bloco-2 .texto {
    color: #ffffff;
    text-align: justify;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bloco-2 .imagem {
    width: 40%;

    height: 290px;
    border-radius: 7rem;
}

.bloco-3 {
    background-color: #ffffff;
    display: flex;
    margin: 60px 100px;
    justify-content: space-between;
}

.conteiner-3 {
    text-align: justify;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numero-badge {
    background-color: #0094FF;
    color: #ffffff;
    font-weight: bold;
    width: min-content;
    padding: 5px 10px;
    border-radius: 1rem;
}

.bloco-3 .imagem {
    width: 40%;

    height: 290px;

    border-radius: 7rem;
}

.imagem img {
    width: 100%;
    height: 100%;
}


/* ---------------- BOTÕES ---------------- */
.btn {
    background: white;
    border: 2px solid black;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.btn-perguntas {
    margin-top: 20px;
    padding: 12px 16px;
    border-radius: 6px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
}

/* ---------------- FAQ ---------------- */

.duvida-titulo {
    font-size: 26px;
    font-weight: bold;
}

.duvida-sub {
    margin-bottom: 90px;
}

.faq {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0 auto;
    margin: 0 auto;
}

.faq p {
    font-weight: bold;
    width: 50%;

    margin-bottom: 20px;
}

.linha {
    width: 100%;
    height: 4px;
    background: #0094FF;
    margin-bottom: 30px;
    margin-top: 6px;
    align-self: flex-start;
}

.btn-perguntas {
    font-size: 15px;
}